* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 2rem;
}

#upload-section {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: flex-end;
}

#image-list-section {
    display: none;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem 2rem 2rem 2rem;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.image-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-height: 250px;
    text-align: center;
}

.card-image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#save-json {
    padding: 10px 15px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2;
    justify-self: end;
}

#save-json:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.table-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4px;
    display: block;
    border: 1px solid #e5e7eb;
    margin: 0 auto;
}

.delete-button {
    padding: 8px 12px;
    width: fit-content;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

#image-table {
    display: none;
}