@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #111;
    font-family: "Lato", sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 1rem 1rem;
    gap:1rem;
}

section {
    background-color: #111;
}

main>section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    object-position: center;
}

.titulo, .qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
    background-color: #111;
}

.titulo{
    grid-area: 1 / 1 / 5 /3;
}

.foto1 {
    grid-area: 5 / 1 / 11 / 3;
}

.foto2 {
    grid-area: 1 / 3 / 6 / 5;
}

.foto3 {
    grid-area: 6 / 3 / 11 / 5;
}

.principal {
    grid-area: 1 / 5 / 11 / 8;
    margin: -1rem;
}

.foto4 {
    grid-area: 1 / 8 / 6 / 10;
}

.foto5 {
    grid-area: 6 / 8 / 11 / 10;
}

.foto6 {
    grid-area: 1 / 10 / 7 / 12;
}

.qrcode {
    grid-area: 7 / 10 / 11 / 12;
}

.qrcode img{
    padding: 2rem;
}

.qrcode span{
    color:#00e88f;
}